@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
}

.main {
	display: flex;
	justify-content: center;
}

img {
	width: 600px;
}

.cost {
	width: 800px;
	border: solid black 1px;
}

.bye {
	display: flex;
	justify-content: space-between;
}

.character {
	margin-right: 50px;
    
}

.dilivery {
	margin-left: 20px;

}
#myButton{
	width: 120px;
	height: 25px;
	border-radius: 40px;
	color: rgb(0, 0, 0);
	background-color: rgb(183, 255, 0);
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}